<h4>投稿内容詳細</h4>
<table>
  <tr>
    <th>投稿ID</th>
    <th>投稿者名</th>
    <th>投稿写真</th>
    <th>タイトル</th>
    <th>説明文</th>
  </tr>
  <tr>
    <th><%= link_to @photo.id, edit_photo_path(@photo.id) %></th>
    <th><%= link_to @photo.user.name, user_path(@photo.user.id) %></th>
    <th>
      <%= link_to edit_photo_path(@photo.id) do %>
        <%= attachment_image_tag @photo, :image, :fill, 100, 100 %>
      <% end %>
    </th>
    <th><%= link_to @photo.title, edit_photo_path(@photo.id) %></th>
    <th><%= link_to @photo.body, edit_photo_path(@photo.id) %></th>
  </tr>
</table>
<h4>コメント投稿</h4>
<div>
  <%= form_with(model:[@photo,@photo_com],local:true) do |f| %>
    <%= f.label :com %>
    <%= f.text_field :com %>
    <%= f.submit '送信' %>
  <% end %>
</div>

<h4>コメント</h4>
<div>
  <% @photo.coms.each do |com| %>
    <div>
      <%= com.com %>
      <%= link_to '削除', photo_com_path(com.photo_id, com.id),method: :delete %>
    </div>
  <% end %>
</div>